@model List<movieApp.Models.Movie>

@{
    ViewData["Title"] = "Movie App Home";
}

<h1>Home of Movies</h1>

<div class="gif-container">
    <img src="/MovieNight.gif" alt="Pixel art" width="600" />
</div>

<div class="button-container">
    <a href="@Url.Action("MovieList", "Movie")" class="link-button">Show Me All Movies</a>
    <a href="@Url.Action("Create", "Movie")" class="link-button">Add a New Movie</a>
    <a href="@Url.Action("Random", "Movie")" class="link-button">Pick a Random Movie</a>
</div>
